/services/collector/node_modules/
/services/collector/bin/

/services/parser/node_modules/
/services/parser/bin/

/services/persister/node_modules/
/services/persister/bin/

/services/reporter/node_modules/
/services/reporter/bin/

/logs/*
!/logs/.gitkeep

/deployment/config/reverse-proxy/certificates/*
!/deployment/config/reverse-proxy/certificates/.gitkeep

.vscode/
